<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Movie List{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>MyList</h1>
        </div>
        <nav>
            {% if 'user_id' in session %}
                <a href="{{ url_for('home') }}" class="home-button">
                    <img src="{{ url_for('static', filename='home-icon.png') }}" alt="Home">
                </a>
                <a href="/">Your Lists</a>
                <a href="/create_list">Create List</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/signup">Signup</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
